<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Mes QCMs</title>
  </head>
  <body>
    <h1>QCM</h1>

    <form action="/qcms/new" method="POST">
      <div>
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" />
      </div>
      <div>
        <label for="subject">Sujet</label>
        <input type="text" id="subject" name="subject" />
      </div>
      <div>
        <label for="nbpoints">Nb points</label>
        <input type="number" id="nbpoints" name="nbpoints" />
      </div>

      <% for(let i=1; i<=4; i++) { %>
      <div>
        <label for="question<%= i %>">Question N°<%= i %></label>
        <input type="text" id="question<%= i %>" name="question<%= i %>" />

        <% for(let j=1; j<=4; j++) { %>
        <div>
          <label for="option<%= j %>_q<%= i %>">Option <%= j %></label>
          <input
            type="text"
            id="option<%= j %>_q<%= i %>"
            name="option<%= j %>_q<%= i %>"
          />
          <input
            type="checkbox"
            id="checkbox<%= j %>_q<%= i %>"
            name="checkbox<%= j %>_q<%= i %>"
          />
        </div>
        <% } %>
      </div>
      <% } %>

      <input type="submit" value="Create" />
    </form>

    <%- include('footer') -%>
  </body>
</html>
