<%- include('header') -%>

<p>Mes QCMS disponibles</p>
<ul>
    <% for (let qcm of qcms) { %> 
    <li><%= qcm.name %> (<%= qcm.subject %>) : <%= qcm.nbpoints %> points</li> 

    <% } %>
</ul>

<%- include('footer') -%>
